body {
  background-color: gainsboro;
  min-height: 100vh;
}
body {
  font-family: Arial, sans-serif;
}
body {
  color: blue;
  
}
p {
  background-color: white;
  padding: 15px;
  border: 2px solid blue;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

p:hover{
  color: red;
}